<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dealership Review</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    
    </head>
<body class="d-flex flex-column min-vh-100">

    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm bg-light">
           <div> <a class="navbar-brand bg-dark text-white " href="#">Cars</a>
            <ul class="nav nav-pills nav-justified mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'djangoapp:about' %}">About us</a>
              </li>
            </ul>
            </div>
              {% if not user.is_authenticated %}
              <div class='ml-auto'>
                  <form class='form-inline' action="{% url 'djangoapp:login' %}" method="post">
                      {% csrf_token %}
                  <input type='text' class='form-control' placeholder='username' name='username' required>
                  <input type='password' class='form-control'  placeholder='password' name='password' required>
                  <button type='submit ' class="btn btn-primary">Login</button>
              </form>
              <a class="btn btn-secondary" href="{% url 'djangoapp:registration' %}">Signup</a>
              {% else %}
              <span class='navbar-text ml-auto'>
                  Hello, {{user.first_name|default:user.username}}
              </span>
              <a class="btn btn-danger" href="{% url 'djangoapp:logout' %}">Sign out</a>
              {% endif %}
            </div>
            {% block nav_content %}
            {% endblock nav_content %}
           </nav>
        </div>

    {% block content %}
    <!-- This block will be overridden by child templates -->
    {% endblock content %}

    <footer class="mt-auto bg-light">
        <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact us</a>
    </footer>
    <!-- Bootstrap JS and other scripts -->
</body>
</html>
