{% extends 'base.html' %}

{% block title %}Home - Dealership Review{% endblock %}

{% block content %}
            <h1 class="text-white-50 bg-dark">Hey looks you are looking for help!</h1>
            <h2 class="text-white-50 bg-dark">Contact us</h1>
                <p class="text-black-50">+1(604)2324-233(Mon-Fri)</p>
                <h2 class="text-white-50 bg-dark">Reach out to us</h1>
                    <p class="text-black-50">Payal business centre <mark>Surrey, BC, Canada</mark> </p>

     {% endblock %}