<!DOCTYPE html>
<html>
    <head>
        <title>About us
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    </head>
        <body>
            <h1 class="text-white-50 bg-dark">Hey looks you are looking for help!</h1>
            <h2 class="text-white-50 bg-dark">Contact us</h1>
                <p class="text-black-50">+1(604)2324-233(Mon-Fri)</p>
                <h2 class="text-white-50 bg-dark">Reach out to us</h1>
                    <p class="text-black-50">Payal business centre <mark>Surrey, BC, Canada</mark> </p>

        </body>
            </html>