{% extends 'base.html' %}
{% block nav_content %}
    {% if user.is_authenticated%}
    <a href="{% url 'djangoapp:add_review' id  %}">Add review</a></nav>
    {% endif %}
    {% endblock  %}
    {% block content %}
    {% for review in reviews %}
    <!-- Add reviews as cards -->
 <div class="card">
        <img class="card-img-left" src="{{ MEDIA_URL }}emoji/{% if review.sentiment == 'positive' %}positive.png
            {% elif review.sentiment == 'negative' %}negative.png
            {% else %}neutral.png{% endif %}" alt="Sentiment Emoji" style="width: 30px; height: 30px;">
        <div class="card-body">
            <h5 class="card-title">{{ review.car_model }} - {{ review.car_make }} ({{ review.car_year }})</h5>
            <p class="card-text">{{ review.review }}</p>
        </div>
    </div>
    {% endfor%}
    {% endblock  %}
 